In [1]:
#importing libraries
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'
%matplotlib inline

In [2]:
# Loading the data
df = pd.read_excel("hackathon_data_round2.xlsx")

In [3]:
df.head()

,Financial_Year,Branch_Code,Sequence_1,Sequence_2,Donation_type,Donor_Age,Donation_Date,Gender,Blood_Group_Code,Donor_Weight,Donor_Temperature,Donor_Pulse,Donor_Hemoglobin,Donor_Blood_Pressure,Test_1,C1,Test_2,C2,Test_3,Test_4
0,14,BRC-01,345,1.0,R,24.0,01-JUL-13,M,5.0,56.0,37.0,72.0,13.0,120/80,0.121,N,0.224,N,R,N
1,14,BRC-01,346,2.0,R,33.0,01-JUL-13,M,3.0,75.0,37.0,72.0,13.0,120/80,0.122,N,0.222,N,N,N
2,14,BRC-01,347,3.0,R,28.0,01-JUL-13,M,5.0,65.0,37.0,72.0,13.0,120/80,0.123,N,0.221,N,N,N
3,14,BRC-01,348,4.0,R,20.0,01-JUL-13,M,3.0,65.0,37.0,72.0,13.0,120/80,0.123,N,0.242,N,N,N
4,14,BRC-01,349,5.0,T,22.0,01-JUL-13,M,7.0,75.0,37.0,72.0,13.0,120/80,0.124,N,0.243,N,N,N

In [4]:
df.isnull().sum()

Financial_Year              0
Branch_Code                 0
Sequence_1                  0
Sequence_2                  2
Donation_type               2
Donor_Age               16455
Donation_Date               2
Gender                     14
Blood_Group_Code          539
Donor_Weight            32827
Donor_Temperature       32830
Donor_Pulse             32829
Donor_Hemoglobin        32830
Donor_Blood_Pressure    32831
Test_1                   2563
C1                       2498
Test_2                   2646
C2                       2614
Test_3                    262
Test_4                    660
dtype: int64

In [6]:
df.C1.value_counts()

N    222846
I       146
R         8
Name: C1, dtype: int64

In [7]:
df.C2.value_counts()

N    219068
I      3761
R        53
P         2
Name: C2, dtype: int64

In [8]:
df.Test_3.value_counts()

N    221563
R      3380
P       293
Name: Test_3, dtype: int64

In [9]:
df.Test_4.value_counts()

N    224836
P         1
R         1
Name: Test_4, dtype: int64

In [82]:
# Extracting the good samples from the data
good_samples = df[(df.Test_4 == 'N') & (df.Test_3 == 'N') & (df.C2 == 'N') & (df.C1 == 'N')]

In [83]:
# Checking the minimum and the maximum date
good_samples['Donation_Date '].max(), good_samples['Donation_Date '].min()

('31-OCT-17', '01-APR-14')

In [84]:
# Dropping the unnecessary columns
cols = ['Financial_Year ', 'Branch_Code ', 'Sequence_1', 'Sequence_2','Test_1', 'C1', 'Test_2',
       'C2', 'Test_3', 'Test_4']
good_samples.drop(cols, axis=1, inplace=True)
good_samples.head(3)

,Donation_type,Donor_Age,Donation_Date,Gender,Blood_Group_Code,Donor_Weight,Donor_Temperature,Donor_Pulse,Donor_Hemoglobin,Donor_Blood_Pressure
1,R,33.0,01-JUL-13,M,3.0,75.0,37.0,72.0,13.0,120/80
2,R,28.0,01-JUL-13,M,5.0,65.0,37.0,72.0,13.0,120/80
3,R,20.0,01-JUL-13,M,3.0,65.0,37.0,72.0,13.0,120/80

In [85]:
good_samples = good_samples.sort_values('Donation_Date ')
good_samples.isnull().sum()

Donation_type               0
Donor_Age               15921
Donation_Date               0
Gender                     12
Blood_Group_Code          473
Donor_Weight            32297
Donor_Temperature       32300
Donor_Pulse             32299
Donor_Hemoglobin        32300
Donor_Blood_Pressure    32301
dtype: int64

In [86]:
# Dealing with the missing values
good_samples = good_samples.dropna()

In [88]:
good_samples = good_samples.groupby('Donation_Date ')
#good_samples.head(3)

In [89]:

good_samples = good_samples.set_index('Donation_Date ')
good_samples.index

AttributeError: Cannot access callable attribute 'set_index' of 'DataFrameGroupBy' objects, try using the 'apply' method